.title__buttons a {
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
}

.title__buttons a:hover {
    background: #1a6b4d;
    text-decoration: none;
    transition: background .5s;
}

.formregister__input {
    padding: 5px;
    border: 0;
    border-bottom: 1px solid #c0c0c0;
    border-radius: 0;
}